<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
        <ion-label>{{ 'PhotoDetails.Close' | translate }}</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'PhotoDetails.Title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-item color="white">
  </ion-item>
  <h3>{{ 'PhotoDetails.Heading' | translate}}:</h3>
  <p><strong>{{ 'PhotoDetails.Location' | translate}}: </strong> {{latitude}} , {{longitude}}</p>
  <p><strong>{{ 'PhotoDetails.Gyro' | translate}}: </strong> x: {{gyro_x}} , y: {{gyro_y}} , z: {{gyro_z}}</p>
  <p><strong>{{ 'PhotoDetails.Direction' | translate}}: </strong> {{direction}}</p>
  <p><strong>{{ 'PhotoDetails.ParcelId' | translate}}: </strong> {{parcelId}}</p>
  <p><strong>{{ 'PhotoDetails.RequestId' | translate}}: </strong> {{requestId}}</p>
  <p><strong>{{ 'PhotoDetails.Inside' | translate}}: </strong> {{inLandParcel}}</p>
  <div *ngIf="android">
    <h4>{{ 'PhotoDetails.Sat' | translate}}</h4>
    <ion-row>
  
      <ion-col col-6>
        <p>
          <span [ngClass]="(isGal)?'on':'off'" class='status-icon'></span><span>{{ 'PhotoDetails.Galileo' | translate}}</span>
        </p>
        <p>
          <span [ngClass]="(isBei)?'on':'off'" class='status-icon'></span><span>{{ 'PhotoDetails.Beidou' | translate}}</span>
        </p>
        <p>
          <span [ngClass]="(isGlo)?'on':'off'" class='status-icon'></span><span>{{ 'PhotoDetails.Glonass' | translate}}</span>
        </p>
        <p>
          <span [ngClass]="(isGps)?'on':'off'" class='status-icon'></span><span>{{ 'PhotoDetails.Gps' | translate}}</span>
        </p>
      </ion-col>
      <ion-col col-6>
        <p>
          <span [ngClass]="(isQzss)?'on':'off'" class='status-icon'></span><span>{{ 'PhotoDetails.Qzss' | translate}}</span>
        </p>
        <p>
          <span [ngClass]="(isSbas)?'on':'off'" class='status-icon'></span><span>{{ 'PhotoDetails.Sbas' | translate}}</span>
        </p>
        <p>
          <span [ngClass]="(isDual)?'on':'off'" class='status-icon'></span>
          <span>{{ 'PhotoDetails.Dual' | translate}}</span>
        </p>
        <p>
          <span [ngClass]="(isOsnma)?'on':'off'" class='status-icon'></span>
          <span>{{ 'PhotoDetails.Osnma' | translate}}</span>
        </p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>