<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Settings.Settings' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding new-background">

  <!-- <div class="settings-card">
    <ion-label>Allow Notifications (Android Only)</ion-label>
    <ion-toggle checked></ion-toggle>
  </div>

  <div class="settings-card">
    <ion-label>Allow Camera</ion-label>
    <ion-toggle checked></ion-toggle>
  </div>

  <div class="settings-card">
    <ion-label>Allow Location Services</ion-label>
    <ion-toggle checked></ion-toggle>
  </div> -->

  <ion-button (click)="logout()">
    {{ 'Settings.Logout' | translate }}
    <ion-icon slot="icon-only" name="log-out"></ion-icon>
  </ion-button>
  <ion-list>
    <ion-item>
      <ion-label>{{ 'Settings.Language' | translate }}</ion-label>
      <ion-select [(ngModel)]='lang' (ionChange)='changeLanguage()'>
        <ion-select-option value='ga'>{{ 'Settings.Irish' | translate }}</ion-select-option>
        <ion-select-option value='en'>{{ 'Settings.English' | translate }}</ion-select-option>
        <div *ngIf=" type !== 'AGENT' ">
          <ion-select-option value='it'>{{ 'Settings.Italian' | translate }}</ion-select-option>
          <ion-select-option value='de'>{{ 'Settings.German' | translate }}</ion-select-option>
          <ion-select-option value='et'>{{ 'Settings.Estonian' | translate }}</ion-select-option>
          <ion-select-option value='gr'>{{ 'Settings.Greek' | translate }}</ion-select-option>
          <ion-select-option value='fr'>{{ 'Settings.French' | translate }}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
  </ion-list>
  <p class="small-text">Version: 2.3.0 </p>
</ion-content>