<div class="land-parcel">
  <div class="land-parcel-image">
    <img src={{image}} alt="Satelite of Land Parcel">
  </div>
  <div class="land-parcel-content">
    <h4>{{title}}</h4>
    <p>{{address}}</p>
    <p>{{description}}</p>
  </div>
  <div *ngIf="status === 'approved'; else elseBlock" class="icon-container">
    <ion-button expand="full" color="primary">
      More Info
    </ion-button>
  </div>
  <ng-template #elseBlock>
    <ion-button expand="full" color="secondary">
      Action Needed
    </ion-button>
  </ng-template>
</div>