html, body, ion-content {
    --background: transparent!important;
}
.cameraPreview {
    --background: transparent!important;
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
  
    iframe{
      width: 100% !important;
      height: auto;
      z-index: 10;
    }
    #close-camera{
      position: absolute;
      top: 10px;
      right: 0px;
      color: white;
      font-size: 2em;
      z-index: 9999;
    }
}

.camera-controls{
    width: 100% !important;
    height: 120px;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    position: absolute;
    z-index: 99999;
    bottom: 50px;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    #take-image {
        border: 2px solid white;
        color: white;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        font-size: 32px;
        z-index: 9999;
    }
    #contain-text {
      color: white;
      text-align: center;
      font-weight: bold;
    }
}
.ios{
  .camera-controls{
    bottom:87px !important;
  }
}

.markerStatus{
  color: white;
}
