<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHerf="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Terms and Conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>Data Protection Notice:</h2>
  <h3>
    Part A:
  </h3>

  <p>
    Information applicable to all Department of Agriculture, Food and the Marine (DAFM) customers:
  </p>

  <ol>
    <li> The Department of Agriculture, Food and the Marine is fully committed to keeping all personal data submitted by
      its
      customers, fully safe and secure during administrative processes. All necessary technical measures have been put
      in
      place to ensure the safety and security of the systems which hold this data. Department staff are also
      considered as
      customers of the Department from a Data Protection perspective and may exercise their data protection rights in
      the same
      way.</li>
    <li>Transparency and openness in the use of personal data held is important to the Department and therefore we aim
      to
      fully inform all our customers about the purpose(s) for which their data will be used and why, where it may be
      shared
      elsewhere and why and how long their data may be held by the Department. Information on the rights of the
      customers will
      also be provided.</li>
    <li> The current legislation for Data Protection in Ireland is the Data Protection Act 1998 as amended by the 2003
      Data
      Protection Act, the Data Protection Act 2018 and The General Data Protection Regulations (EU 2016/679).</li>

    <li> The Data Controller for the collection and processing of all personal data in the Department of Agriculture,
      Food and
      the Marine is the Department itself, as a legal entity.</li>
    <li>
      <p>The Data Protection Officer can be contacted as follows:</p>

      <address>
        Data Protection Officer,
        Data Protection Unit, Corporate Affairs,
        Department of Agriculture, Food and the Marine
        Grattan Business Park, Dublin Road,
        Portlaoise, Co Laois.
        R32 RY6V
      </address>
      <br />
      <strong>Phone:</strong> 057 8694301<br />
      <strong>Email:</strong> dataprotectionofficer@agriculture.gov.ie
    </li>




    <li>Personal data processed by the Department will only be used for the specific purpose (s) as outlined when the
      data is
      collected, or in later communications, and will only be used in accordance with the Data Protection legislation
      in
      force.</li>
    <li> Rights of the individual in relation to personal data held by the Department:
      When you, as a customer, provide personal data to the Department you have certain rights available to you in
      relation to
      that data. These rights are outlined below and can be exercised by contacting the Data Protection Officer, as
      detailed
      above, indicating which right(s) you wish to exercise:<br />
      Customers of the Department have the following rights:<br />
      <ul>
        <li> access to their data</li>
        <li> rectification of their data</li>
        <li>erasure of their data</li>
        <li> right to lodge a complaint with the Supervisory Authority</li>
        <li> restriction of processing</li>
        <li> data portability</li>
        <li> objection to processing</li>
        <li> withdraw consent if they previously gave it in relation to processing of their personal data</li>
        <li> relating to automated decision making, including profiling.</li>
      </ul>

    </li>
  </ol>
  <br />
  <h3>
    Part B – Information specific to the personal data being collected

  </h3>

  <p>The following data is specific information in relation to the personal data processed for the purposes of the
    Geo-Tag
    Photo App</p>
  <ol>


    <li> <strong>Specified purpose:</strong><br />
      <p>The personal data sought from you, the applicant, is required for the purpose of testing new technologies in
        order to
        facilitate a simplified means of providing supplementary evidence for applicants to area related schemes.
        Failure to
        provide all the personal data required to facilitate the processing of this evidence will result in DAFM
        being unable to
        offer you this facility.</p>
      <p> Department may also use data provided via the Geo-Tag Photo App for the purposes of updating information on
        the
        relevant databases held by the Department in connection with these schemes (e.g. mapping database).
        These schemes are:</p>
      <ul>
        <li> Basic Payment Scheme (BPS)
        <li> Areas of Natural Constraints Scheme (ANC) and the Areas of Specific Constraints (Islands) Scheme (ASC)
        <li> Protein Aid Scheme</li>
        <li> Agri Environment Options Scheme (AEOS)</li>
        <li> Green Low Carbon Emissions Scheme (GLAS) I, II, III</li>
        <li> Natura 2000 Scheme</li>
        <li> Beef Data and Genomics Programme (BDGP) I & II</li>
        <li> Organic Farming Scheme (OFS)</li>
        <li> Young Farmers Scheme</li>
        <li> National Reserve Scheme</li>
        <li> Sheep Welfare Scheme</li>
        <li> Knowledge Transfer Scheme (Beef, Dairy, Sheep, Poultry, Equine, Tillage)</li>
        <li> Land Parcel Identification System </li>
        <li> Targeted Agricultural Modernisation Scheme (TAMS) II </li>
      </ul>
    </li>
    <li><strong>Legal basis:</strong>
      <p>The Geo-Tag Photo App is implemented pursuant to EU Regulation 809/2014 and is operated by DAFM.
        Recipients:</p>
      <p> Information provided as part of the roll-out of the Geo-Tag Photo App will be shared, with the NIVA Project
        partners
        for
        the purposes of implementing the app.</p>

      <p>Personal information provided via the Geo-Tag Photo App may be released under the terms of the relevant Data
        Protection
        legislation in force and the Freedom of Information Act 2014.</p>

      <p>Information will be shared within the Department for the purposes of monitoring and evaluating CAP as per the
        Regulations (EU Reg 1306/2013) in accordance with the Data Protection legislation in force.

        Personal data may be used for statistical, research and analysis purposes in some circumstances, but will
        only
        be
        done
        so in compliance with the Data Protection legislation in force. Data used for such purposes will be
        pseudonymised
        (masked) or anonymised, as appropriate, to protect the security and confidentiality of the data. The use of
        the
        data
        in
        this way may facilitate the Department in informing policy decisions into the future, which would benefit
        the
        Irish
        farmer and the Agriculture Sector.</p>

      <p>The Department is also currently obliged by law to provide information concerning applicants in response to
        requests
        received from the Office of the Revenue Commissioners, An Garda Síochana, and other bodies, in accordance
        with
        Section 8
        of the Data Protection Acts 1988 and 2003. The introduction of the General Data Protection Regulation in May
        2020,
        and
        any further national Data Protection legislation, may change the requirements and the legislative basis for
        such
        requests.</p>
    </li>
    <li> <strong>Transferred outside the EU:</strong><br />
      Information provided via the Geo-Tag Photo App is not currently transmitted outside of the EU.
    </li>
    <li><strong> Retention Period:</strong><br />

      The data submitted in support of the application by the data subject via the Geo-Tag Photo App will be retained
      by
      DAFM
      only as long as there is a business need to do so in line with the purposes for which it was collected.
      After this time, it will be marked for destruction and will be destroyed in line with internal guidelines or
      guidelines
      for destruction received from the National Archives Office or associated permissions received from them.
    </li>
    <li><strong> Data provision being statutory or contractual obligation:</strong><br />
      The data provided for this purpose is being requested under the requirements of EU Regulation 809/2014 and if
      the
      customer chooses not to provide this information they will be unable to access this tool.
    </li>
    <li><strong> Automated Decision Making:</strong><br />
      Early tester profiling will be conducted to understand what support services that may be required in the future
      to
      ensure that the app is accessible to all potential users.</li>

    <li><strong> Technical information on data collected:</strong><br />
      Technical information on the cookies used on our Department’s website is available at the following link:
      https://www.agriculture.gov.ie/legalnotices/privacy/</li>

  </ol>
</ion-content>