ion-content {
    --background: #f9f9f9;
    padding: 20px;
}
#ReapMap{
    z-index: 10;
}

ion-bottom-drawer { 
    box-shadow: rgba(184, 184, 184, 0.4) 0 -5px 5px -5px !important;
    border-radius: 15px !important;
    background: white !important;
    --background: white !important;
    
    ion-content{
    background: white !important;
    --background: white;
    }
    #main-drawer-content{
        color: #666;
        padding: 1em;
        position: relative;
        z-index: 999;
        // background: white;
    }
    .pullUp{
        background: #A5AFBD;
        width: 50%;
        margin-left: 25%;
        border-radius: 5px;
        height: 5px;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    .content{
        color: #666!important;
    }
    .info-message{
        margin-top: 1.5em;
        font-style: italic;
        font-size: 0.8em;
        color: #666;
    }
}
.leaflet-save-button{
    width: 60px !important;
    height: 60px !important;
}
ion-item{
    border: thin solid #004D44;
}

.permission-notifier{
    width: 100%;
    display: flex;
    p{
        padding: 0.5em;
        //color: #666;
        width: 100% !important;
        text-align: center;
        border: 2px solid;

    }
    .not{
        color: #856404;
        background-color: #fff3cd;
        border-color: #ffeeba
    }
}