<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{schemeDetails.display}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class='permission-notifier' *ngIf="!permission">
    <p class="not">
      {{ 'Map.Permission' | translate}}</p>
    </div>
<div id="ReapMap" style="height:85%;" #ReapMap></div>

</ion-content>
<ion-bottom-drawer [minimumHeight]=320 [dockedHeight]=350 [shouldBounce]=true [distanceTop]=50>
   <div class="drawer-content">
    <div class="pullUp"></div>
    <div id="main-drawer-content">
      <div class = 'reap-content' [innerHTML]="schemeDetails.instructions"></div>
      <br />
      <p class="select-label"><strong>{{ 'Reap.Label' | translate}}</strong></p>
      <ion-item>
        <ion-label>{{ 'Reap.Type' | translate}}</ion-label>
        <ion-select [(ngModel)]='photoType' (ionChange)='selectPhotoType()' value="" okText="{{ 'Reap.Ok' | translate}}" cancelText="{{ 'Reap.Dismiss' | translate}}">
          <ion-select-option *ngFor="let type of schemeDetails.photoType" value={{type}}> {{type}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="full" color="primary" (click)="goToCamera()" [disabled]="photoType === undefined || !permission">
        <ion-icon slot="start" name="camera"></ion-icon>
          {{'LandParcel.TakeImage' | translate}}
      </ion-button>      
      <span class='info-message'> {{ 'LandParcel.UpdateMessage' | translate }}</span>
      <ion-button expand="full" color="secondary" (click)="watchDeviceLocation(true)" [disabled]="!permission">
        <ion-icon slot="start" name="compass-outline"></ion-icon>
        {{ 'LandParcel.UpdateLocation' | translate}}
      </ion-button>
    </div>
  </div>
</ion-bottom-drawer>
