<ion-header [translucent]="true" padding>
  <ion-toolbar>
    <ion-title> {{'Notifications.Welcome' | translate }} </ion-title>
    <ion-buttons slot="secondary">
      <!-- <ion-button (click)="playAudio()">
        <ion-icon name="{{audio.requestPlaying ? 'volume-mute' : 'volume-high'}}"></ion-icon>
      </ion-button> -->
      <ion-button (click)="goToSettings()">
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="uc4array.length > 0; else elseCol">
    <div *ngFor="let notification of uc4array">
      <app-request-card status="{{notification.status}}" title="{{notification.label}}"
        description="{{notification.comment}}" routerLink="/parcel-map/{{notification.hash}}"
        [queryParams]="{name: notification.label}">
      </app-request-card>
    </div>
  </div>
  <ng-template #elseCol>
    <ion-col size="12">
      <div class="ion-text-wrap">
        <p class="body-text"> {{'Notifications.Empty' | translate }}</p>
      </div>
    </ion-col>
  </ng-template>
  <!-- <app-notification-card status="action" title="This is another title"
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et ">
  </app-notification-card> -->
  <!-- <ion-row>
    <ion-col size-sm="3" offset-sm="3">
      <app-map-button></app-map-button>
    </ion-col>
  </ion-row> -->
</ion-content>