<div class="notification-card {{status}}">
  <div class="notification-content">
    <h3>{{title}}</h3>
    <p>{{description}} </p>
    <p>
      <strong>Status: </strong> {{status}}
    </p>
  </div>
  <div class="notification-icon">
    <div *ngIf="status === 'RECEIVED'; else elseBlock" class="icon-container">
      <ion-icon name="checkmark"></ion-icon>
    </div>
    <ng-template #elseBlock>
      <div class="icon-container">
        <ion-icon name="camera"></ion-icon>
      </div>
    </ng-template>
  </div>

</div>