.notification-card{
    border-radius: 5px;
    width: 100%;
    color: #575757;
    background-color: white;
    margin: 25px;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    max-width: 90%;
    border: 1px solid #ecebeb;
    align-items: center;
    justify-content: center;

    .notification-content{
        flex: 3;
        padding-right: 10px;
        p{
            font-size: 0.9em;
        }
    }
    .notification-icon{
        flex: 1;
        .icon-container{
            width: 20vw;
            display: flex;
            height: 20vw;
            border-radius: 50%;
            background-color: lighten(#155724, 60%);
            align-items: center;
            justify-content: center;
            ion-icon{
                font-size: 4rem;
            }
        }
    }
    &.RECEIVED{
        border-left: 5px solid #155724;
        .notification-icon{
            .icon-container{
                background-color: #155724;
                ion-icon{
                    color: #fff;
                }
            }
        }
    }
    &.PENDING{
        border-left: 5px solid #f26721;
        .notification-icon{
            .icon-container{
                background-color:lighten(#f26721, 36%) ;
                ion-icon{
                    color: #f26721
                }
            }
        }
    }
}