<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--       <ion-back-button defaultHref="home"></ion-back-button>  -->
    </ion-buttons>
    <ion-title>
      {{ 'Parcels.Title' | translate}}
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="playAudio()">
        <ion-icon name="{{playing ? 'volume-mute' : 'volume-high'}}"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding new-background">
  <!-- <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher -->
  <div class='permission-notifier' *ngIf="!permission else elseCol">
    <p class="not">
      {{ 'Map.Permission' | translate}}</p>
  </div>
  <ng-template #elseCol>
    <div class="lp-instructions">
      <p>{{ 'Parcels.Instructions' | translate}}</p>
    </div>
  </ng-template>  
  <div id="landParcelMap" #map style="width: 100%; height: 70%"></div>
  <div *ngIf="landParcel.length > 0">
    <div class="lp-instructions">
      <p>{{ 'Parcels.NoRequest' | translate}}</p>
    </div>
    <div>
      <ion-list class="dropdown">
        <ion-item>
          <ion-label>{{ 'Parcels.Select' | translate}}</ion-label>
          <ion-select [(ngModel)]="selectedParcel" no-lines>
            <ion-select-option *ngFor="let item of landParcel" value="{{item.label}}">{{item.label}}</ion-select-option>
          </ion-select>
        </ion-item>
      <ion-item>
        <ion-label>{{ 'PhotoDetails.Scheme' |translate}}</ion-label>
        <ion-select [(ngModel)]="selectedScheme" no-lines>
          <ion-select-option value="FSS">{{ 'Parcels.Fodder' | translate}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    </div>
    <div>
      <ion-button (click)="navigate()" [disabled]="selectedParcel === undefined || selectedScheme === undefined" class="continue">
        {{ 'Parcels.Continue' | translate}}
        <ion-icon name="arrow-forward-sharp"></ion-icon>
      </ion-button>
    </div>
  </div>
  <!-- <ion-grid> -->
  <!-- <ion-col size="6">
        <app-land-parcel-card title="Land Parcel #101" address="Ballyrobin, Co. Kilkenny" status="approved"
          image="../../../assets/images/landparcel.png"
          description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut">
        </app-land-parcel-card>
      </ion-col>
      <ion-col size="6">
        <app-land-parcel-card title="Land Parcel #101" address="Ballyrobin, Co. Kilkenny" status="image"
          image="../../../assets/images/landparcel.png"
          description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut">
        </app-land-parcel-card>
      </ion-col>
      <ion-col size=" 6">
        <app-land-parcel-card title="Land Parcel #101" address="Ballyrobin, Co. Kilkenny" status="image"
          image="../../../assets/images/landparcel.png"
          description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut">
        </app-land-parcel-card>
      </ion-col>
      <ion-col size=" 6">
        <app-land-parcel-card title="Land Parcel #101" address="Ballyrobin, Co. Kilkenny" status="approved"
          image="../../../assets/images/landparcel.png"
          description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut">
        </app-land-parcel-card>
      </ion-col> -->
  <!-- </ion-grid> -->
</ion-content>