ion-content ion-toolbar {
  --background: translucent;
}

p.coming-soon{
  color: #666;
  padding: 10px;
  font-size: 1.1em;
  font-style: italic;
}

.dropdown {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.continue {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  align-items: center;
  justify-content: center;
}

.lp-instructions{
  width: 100%;
  display: flex;
  color: #155724;

  p{
      padding: 0.5em;
      //color: #666;
      width: 100% !important;
      text-align: center;
      border: 2px solid;
      background-color: #d4edda;
      border-color: #c3e6cb;
  }
}

.permission-notifier{
  width: 100%;
  display: flex;
  p{
      padding: 0.5em;
      //color: #666;
      width: 100% !important;
      text-align: center;
      border: 2px solid;

  }
  .not{
      color: #856404;
      background-color: #fff3cd;
      border-color: #ffeeba
  }
}