<ion-content class="login" padding class="dark-bg">
  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col col-12 class='login-container'>
          <img src="../../../assets/images/geotag-logo.png" />
          <h1> {{ 'Login.Title' | translate }} </h1>
          <p [innerHTML]="'Login.Message' | translate"></p>
          <form class="digit-form" name="securityCode">
            <ion-input name="digit1" maxlength="1" required [(ngModel)]="accessToken.digit1"
              (ionChange)="moveToNext($event, 2)">
            </ion-input>
            <ion-input name="digit2" maxlength="1" required [(ngModel)]="accessToken.digit2"
              (ionChange)="moveToNext($event, 3)">
            </ion-input>
            <ion-input name="digit3" maxlength="1" required [(ngModel)]="accessToken.digit3"
              (ionChange)="moveToNext($event, 4)">
            </ion-input>
            <ion-input name="digit4" maxlength="1" required [(ngModel)]="accessToken.digit4"
              (ionChange)="moveToNext($event, 5)">
            </ion-input>
            <ion-input name="digit5" maxlength="1" required [(ngModel)]="accessToken.digit5"
              (ionChange)="moveToNext($event, 6)">
            </ion-input>

          </form>
          <ion-item class='checkbox' *ngIf="!acceptTerms.isChecked">
            <ion-label>I agree to the <a routerLink="/terms-and-conditions/">Terms and
                Conditions</a></ion-label>
            <ion-checkbox slot="start" (ionChange)="checkTerms($event)" [checked]="acceptTerms.isChecked">
            </ion-checkbox>
          </ion-item>
          <ion-button type="button" color="secondary" expand="block" (click)="SubmitToken()"
            [disabled]="!accessToken.digit1 || !accessToken.digit2 || !accessToken.digit3 || !accessToken.digit4 || !accessToken.digit5 || !TermsValue">
            {{ 'Login.Label' | translate }}
          </ion-button>

          <div class="error-message" *ngIf="errorString">
            <p>{{errorString}}</p>
          </div>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col col-12 class="dafm-logo">
          <img src="../../../assets/images/dafm-logo.svg" />
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </ion-content>
</ion-content>