.action-sheet-group, .action-sheet-group-cancel{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    //ios fix
     --background: white !important;
     //android & web
     background: white !important;
    .action-sheet-title{
        color: $niva-green;
    }
    button{
        --button-color: #666 !important;
    }
    .action-sheet-icon{
        color: $niva-green !important;
    }
}
.action-sheet-group-cancel{
    /* fix border bug */
   border-radius: 0 !important;

   }
